<div id="search_result" class="relative overflow-x-auto shadow-md sm:rounded-lg mt-10">
  <table class="w-full text-sm text-left rtl:text-right text-green-500">
    <thead class="text-xs text-green-700 uppercase bg-green-100">
    <tr>
      <th scope="col" class="px-6 py-3">Откуда</th>
      <th scope="col" class="px-6 py-3">Куда</th>
      <th scope="col" class="px-6 py-3">Расстояние</th>
    </tr>
    </thead>
    <tbody>
    <%= render 'saved_distances/search_result_row', result: result %>
    </tbody>
  </table>
</div>