<div class="">
  <div class="">
    <div class="mb-10  uppercase text-stone-600 font-bold text-2xl border-b border-green-200">ГеоТест</div>
    <div id="distance_form">
      <div>
        <%= render 'saved_distances/new', saved_distance: @saved_distance || SavedDistance.new %>
      </div>
    </div>
    <div id="search_result" class="">
      <% if @result %>
        <%= render 'saved_distances/search_result', result: @result %>
      <% else %>
        <div class="flex justify-center">
          <%= render partial: 'elements/empty_state' %>
        </div>
      <% end %>
    </div>
    <%= render 'saved_distances/distance' %>
  </div>
</div>
